*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow-x: hidden; 
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #fcf5eb;
    padding: 0 40px;
}
.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
}
.WhatsAppLogo{
    width: 60px;
    height: 16px;
}
.nav-items{
    display: flex;
    gap: 10px;
}
.Slide{
    position: relative;
}
.Slide::after{
    content: "";
    width: 100%;
    height: 2px;
    position:absolute;
    background: #25d366;
    bottom: 0;
    left: 1%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin:left ;
}
.Slide:hover::after{
    transform: scaleX(1);
    
}
.Slide {
    cursor: pointer;
}
.navbar > button , .btn {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    border-radius: 60px;
    background-color:#25d366;
    border: none;
    border: 1px solid black;;
}
.Features{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 75 px;
    position: relative;
    /* height: 15px; */

}
.Features::after{
    content: "";
    width: 100%;
    height: 2px;
    position:absolute;
    background: #25d366;
    bottom: 0;
    left: 1%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin:left ;
}
.Features:hover::after{
    transform: scaleX(1);
    
}
.Features > img{
    rotate: -90deg;
    padding: 2px;
    width: 10px;
    height: 15px;
}

.firstSection{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}


.MaaBeti{
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    background-image: url(WhatsApp/MaaBeti.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    width: 100%;

}

.firstSection > p{
    padding: 20px;
    text-align:end;
    font-size: 15px;
    opacity:0.8 ;
}

.rigth{
    position: relative;
    width: 30%;
}
.right img:nth-child(1){
    width: 450px;

}


































